@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f6f5fa;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
main {
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}
.content {
  overflow-y: hidden;
  margin-bottom: 70px;
}

@media (max-width: 1200px) {
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    .content {
      width: 100%;
      margin-bottom: 0;
      flex-direction: column;
      height: auto;
      padding-bottom: 75px;
      overflow-y: auto;
      main {
        padding: 32px;
        height: auto;
        overflow-y: visible;
      }
    }
    .go_back_button {
      top: 24px;
      left: 24px;
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  body .content main {
    padding: 24px;
  }
}

@media (max-width: 480px) {
  body .content main {
    padding: 16px;
  }
  body .go_back_button {
    top: 16px;
    left: 16px;
  }
}
